<div id="charts-money-week" data-priceofweek="<%= price_of_week %>"></div>
<div style="text-align: center; margin-top: 10px;">
  <button id="plain" class="btn btn-app"><i class="fa fa-play"></i>Cột</button>
  <button id="inverted" class="btn btn-app"><i class="fa fa-play"></i>Ngang</button>
  <button id="polar" class="btn btn-app"><i class="fa fa-play"></i>Hình Tròn</button>
</div>
