@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';

.content-wrapper {
  min-height: 1000px !important;
}

.table-cafe-off {
  width: 120px;
  height: 120px;
  float: left;
  margin: 15px;
  border: 2px solid #777;
  border-radius: 50%;
  padding: 20px;
  margin-bottom: 50px;
  img {
    opacity: 0.5;
    height: 80px;
  }
  h4 {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    color: black;
    font-size: 25px;
  }
}
.table-cafe-on {
  width: 120px;
  height: 120px;
  float: left;
  margin: 15px;
  border: 2px solid #777;
  border-radius: 50%;
  padding: 20px;
  margin-bottom: 50px;
  img {
    height: 80px;
  }
  h4 {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    font-size: 25px;
  }
}


.list-btn-order {
  display: flow-root;
}

.btn-text-order {
  width: 40px;
  font-weight: bold;
  font-size: 19px;
  padding: 0px;
  margin: 0px;
}

.product-build {
  width: 220px;
  padding: 5px;
  border: 1px solid;
}

.product-show-list {
  padding-left: 10px;
}

.number-product {
  border: 0px;
  width: 10px;
  text-align: center;
}

.item-product {
  // float: left;
  display: inline-block;

}

.item-col-header {
  text-align: center;
}
.item-col-1 {
  width: 80px;
}
.item-col-2 {
  width: 50px;
  text-align: -webkit-right;
  padding-right: 20px;
}
.item-col-3 {
  width: 15px;
}
.item-col-4 {
  width: 50px;
  text-align: -webkit-right;
}

.build-img {
  float: left;
}

.title-build {
  h3 {
    padding-top: 25px;
    margin: 0px;
    font-size: 20px;
  }
}

.header-build {
  text-align: center;
  p {
    margin: 0px;
  }
}

.body-build {
  font-size: 11px;
}

.break-all-word {
  word-break: break-all;
}

.end-build {
  float: right;
}

.end-build-sum {
  font-weight: bold;
}


//Button form



.btn-glyphicon {
    padding:8px;
    background:#ffffff;
    margin-right:4px;
}
.icon-btn {
    padding: 1px 15px 3px 2px;
    border-radius:50px !important;
}

.menu-header-button {
  float: right;
  margin-bottom: 20px;
}

.button-delete {
  .button-inner {
    .button-delete-small {
      margin: 2px;
      color: #f26d7d;
      background-color: transparent;
      border: 1px solid #e1e1e1;
      border-radius: 13px;
      height: 26px;
      line-height: 20px;
      padding: 2px 18px;
      font-weight: 700;
      justify-content: center;
      align-items: center;
      transition: background-color .3s ease;
    }
    .button-delete-small:hover {
      background-color: #f26d7d;
      border-color: #f26d7d;
      color: #fff;
    }
    .button-delete-small:before {
      font-family: FontAwesome;
      content: "\f1f8";
    }
  }
}

.button-edit {
  .button-inner {
    .button-edit-small {
      margin: 2px;
      color: #6d88f2;
      background-color: transparent;
      border: 1px solid #e1e1e1;
      border-radius: 13px;
      height: 26px;
      line-height: 20px;
      padding: 2px 18px;
      font-weight: 700;
      justify-content: center;
      align-items: center;
      transition: background-color .3s ease;
    }
    .button-edit-small:hover {
      background-color: #6d88f2;
      border-color: #6d88f2;
      color: #fff;
    }
    .button-edit-small:before {
      font-family: FontAwesome;
      content: "\f044";
    }
  }
}

.button-show {
  .button-inner {
    .button-show-small {
      margin: 2px;
      color: #10e8a6;
      background-color: transparent;
      border: 1px solid #e1e1e1;
      border-radius: 13px;
      height: 26px;
      line-height: 20px;
      padding: 2px 18px;
      font-weight: 700;
      justify-content: center;
      align-items: center;
      transition: background-color .3s ease;
    }
    .button-show-small:hover {
      background-color: #10e8a6;
      border-color: #10e8a6;
      color: #fff;
    }
    .button-show-small:before {
      font-family: FontAwesome;
      content: "\f06e";
    }
  }
}

.tac-vu {
  text-align: center;
}

.alert.animated {
  top: 128px !important;
}

#text-date-time {
  .input-group {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.min-height-200 {
  min-height: 200px
}

.display-none {
  display: none;
}

.icon-pass {
  margin-top: 20px;
  margin-right: 20px;
}

.icon-pass-bottom {
  margin-top: 0px;
  margin-right: 20px;
}

#post {
  img {
    height: 200px;
    width: auto;
  }
}

.pagination_center {
  text-align: center;
}
